.form-group {
	width: 600px;
	display: inline-block;
}

.form-box {
	border: 1px solid black;
	width: 700px;
	margin: auto;
	padding: 40px;
}

.list-info {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}

.edit-buttons {
	text-align: center;
	
}

.hidden {
	display: none;
}

.item {
	border: 1px solid black;
}

.add {
	text-align: center;
}