/*body {
	background-image: linear-gradient(to right, #2A008B, #009092);
}*/


h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 65px;
	text-align: center;
}

.form-group {
	width: 600px;
	display: inline-block;
}

.form-box {
	border: 1px solid black;
	width: 700px;
	margin: auto;
	padding: 40px;
}

.list-info {
	margin-left: 50px;
	margin-right: 50px; 
	margin-top: 50px;
}

.edit-buttons {
	text-align: center;
	
}

.hidden {
	display: none;
}

.item {
	border: 1px solid black;
	background-color: white;
	width: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.add {
	text-align: center;
}

