* {
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}


body {
	background-image: linear-gradient(to right, #2A008B, #009092);
	min-width: 1000px;
	overflow-x: hidden;
}

nav {
	height: 82px;
	display: block;
	min-width: 1000px;
	
}

.log-in {
	float: right;
	display: inline-block;
}

.login {
	width: 286px;
	-moz-box-sizing: border-box;
	height: 100%;
	border: none;
	padding: 5px;
	border-radius: 3px;
	/*height: 34px;*/
	font-size: 15px;
	margin-top: 20px;
	margin-right: 10px;
	font-family: 'Poppins', sans-serif;
}

.mission-statement {
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 20px;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}


.span {
	margin-top: 20px;
	font-size: 20px;
	line-height: 28px;
	color: white;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.sign-up {
	margin: auto;
	width: 380px;
	height: 400px;
	padding: 40px;
	margin-top: 70px;
	background-color: #fafafa;
	border-radius: 4px;
	margin-bottom: 150px;
}

.sign-up-input {
	width: 286px;
	border: 2px solid #D2BFFF;
	padding: 5px;
	border-radius: 3px;
	height: 25px;
	height: 100%;
	-moz-box-sizing: border-box;
	font-size: 18px;
	display: block;
	margin-top: 23px;
	margin-bottom: 23px;
	margin: auto;
}

label {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 8px;
	font-family: 'Poppins', sans-serif;
	color: #2A008B;
}

legend {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	margin-top: 04px;
	font-family: 'Poppins', sans-serif;
	color: #2A008B;
}

#button {
	height: 35px;
	width: 286px;
	background-color: #2A008B;
	border: none;
	font-size: 16px;
	color: white;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
	margin-top: 30px;
	margin-left: 7px;
}

#log-in-button {
	height: 35px;
	width: 100px;
	background-color: Transparent;
	border: 3px solid white;
	font-size: 16px;
	color: white;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
	margin-top: 30px;
	margin-right: 20px;
}

.app-name {
	color: white;
	float: left;
	margin-top: 20px;
	margin-left: 30px;
	font-family: 'Poppinutton', sans-serif;
	font-size: 30px;
}

.app-1 {
	width: 370px;
	height: 200px;
	float: left;
}

.app-2 {
	width: 370px;
	height: 200px;
	float: right;
}

.app-3 {
	width: 370px;
	height: 200px;
	float: left;
}

/*.app-image-1 {
	margin-top: 100px;
	width: 1000px;
	height: 300px;
	margin-left: 200px;
}


.app-image-2 {
	width: 900px;
	height: 300px;
	margin-left: 200px;
}

.app-image-3 {
	width: 1000px;
	height: 300px;
	margin-left: 200px;
}
*/

.demo-1  {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 120px;
	margin-bottom: 120px;
	height: 200px;
}

.demo-2 {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 80px;
	margin-bottom: 120px;
	height: 200px;
}

.demo-3 {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 80px;
	margin-bottom: 200px;
	height: 170px;
}




@media all and (max-width:800px) 
{
    .demo-1, .demo-2, .demo-3, .mission-statement, .span, 
    {
        display: block; 
        float: none; 
        width: 100%;
    }
}

@media all and (max-width:800px)
{
	.section 
	{
		width: 100%;
	}
}



.section {
	text-align: center;
	margin: auto;
}

.app-description {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	padding-top: 40px;

}

.tag-line {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	text-align: center;
	color: white;
}

#footer {
	left:0px;
   	bottom:0px;
   	height:100px;
   	width:100%;
   	margin-top: 200px;
}

.link {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	bottom: 10px;
	display: inline-block;

}

.credit {
	margin-left: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
	font-weight: 700;
	position: relative;
	bottom: 10px;
	display: inline-block;
	text-align: left;
	color: white;
	font-family: 'Poppins', sans-serif;

}